<nav class="navbar navbar-expand-xl d-flex">
  <div class="container d-flex m-auto" >
    <div class="justify-content-around" style="flex: 3 0 auto">
      <img alt="abc du plombier banner" height="197" routerLink="/"
           src="assets/icon/band.png" style="width: 300px; height: auto; max-width: 70vw" width="816">
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item lh-lg">
          <a aria-current="page" class="nav-link fs-5" routerLink="/">Accueil</a>
        </li>
        <li class="nav-item lh-lg">
          <a aria-current="page" class="nav-link fs-5" routerLink="/quiz">Quiz</a>
        </li>
        <li class="nav-item lh-lg">
          <a aria-current="page" class="nav-link fs-5" routerLink="/se-depister">Se faire dépister</a>
        </li>
        <li class="nav-item lh-lg">
          <a aria-current="page" class="nav-link fs-5" routerLink="/qui-sommes-nous">Qui sommes nous ?</a>
        </li>
        <li style="margin-left: 2vw">
          <a *ngIf="!isLogged" class="btn text-white p-3 btn-primary align-baseline" routerLink="/login">Se
            connecter</a>
          <a *ngIf="isLogged" class="btn text-white p-3 btn-primary align-baseline">Hi {{email}} !
            <img [src]="imgPP" class="rounded-circle" height="40" width="40"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
