<div id="footer" class="container-fluid">
  <div class="row">
    <div id="contactBar" class="col-11 col-sm-10 col-xl-7 pt-5 pb-5 mx-auto bg-white shadow rounded-3">
      <div class="row mx-auto h-100">
        <div class="col-sm-12 col-md-10 mx-auto d-flex flex-wrap justify-content-evenly">
          <div class="col-sm-12 col-xl-7 align-self-center text-center">
            <h3 class="font-lato fs-3">Trouver un centre de dépistage</h3>
          </div>
          <div class="col-sm-4 col-xl-2 align-self-center">
            <button (click)="onPresentQuotationDialog()" class="btn p-2 anim-transform border-2 border-dark rounded">Trouver un centre</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-9 mx-auto d-flex justify-content-between flex-wrap">
      <section *ngFor="let section of sections" class="col-12 col-md-4 col-xl-3 mx-auto d-block">
        <h3 class="fs-2 font-weight-bold">{{section.sectionName}}</h3>
        <ul class="fs-6 lh-lg p-0 m-3">
          <li *ngFor="let item of section.links">
            <a *ngIf="item.hrefAttribute" class="text-decoration-none" [href]="item.hrefAttribute">{{item.text}}</a>
            <a *ngIf="item.routerAttribute" class="text-decoration-none" [routerLink]="item.routerAttribute">{{item.text}}</a>
          </li>
        </ul>
      </section>
    </div>
  </div>
  <hr class="mx-auto d-block" style="width: 60%; opacity: 0.1;">
  <div class="row text-center">
    <p style="font-size: 0.8em; opacity: 0.4">
      © Copyright 2022 VIH-TTPS
    </p>
  </div>
</div>
