<div class="container-fluid">
  <div class="row mx-auto h-100">
    <div class="col-11 mx-auto d-block align-self-center">
      <div class="row mb-5">
        <div class="col-12 col-md-3 mx-auto">
          <img class="mx-auto d-block" style="width: 60%" src="assets/icon/abc_big_logo.png">
        </div>
      </div>
      <div class="col-10 col-md-4 mx-auto">
        <form class="align-content-center mx-auto">
          <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Email</mat-label>
              <input [(ngModel)]="email" type="email" matInput [formControl]="emailFormControl"
                     placeholder="Ex. pat@example.com">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                L'email est <strong>obligatoire</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Mot de passe</mat-label>
              <input [(ngModel)]="password" type="password" matInput [formControl]="emailFormControl"
                     placeholder="Votre mot de passe">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Entrez un mot de passe.
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Le mot de passe est <strong>obligatoire</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <button (click)="onLogin()" mat-flat-button color="primary">Se connecter</button>
            <a routerLink="/signup">Pas encore de compte ?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
