<button (click)="openContactDialog()" mat-fab color="primary" id="contact">
<img alt="sms icon" height="30" src="assets/icon/sms.webp" width="30">
</button>

<button (click)="toggleOpen()" mat-fab color="primary" id="chatbot">
<img alt="bot icon" height="30" src="assets/icon/bot.webp"  width="30">
</button>

<div class="chat-box" *ngIf="isOpened" >
  <div class="chat-box-header">
    ChatBot
    <span class="chat-box-toggle" (click)="toggleOpen()" ><i class="material-icons">Fermer</i></span>
  </div>
  <div class="chat-box-body">
    <div class="chat-box-overlay">
    </div>
    <div class="chat-logs">
      <ol>
        <div *ngFor='let message of messages' class="message-container {{message.user}}">
          <li class="{{message.user}}">
            <p>{{message.message}}</p>
          </li>
        </div>
      </ol>
    </div><!--chat-log -->
  </div>
  <div class="chat-input">
      <input [(ngModel)]="message" type="text" id="chat-input" placeholder="Posez votre question..."/>
<!--      <button name="" type="submit" (click)="sendMessage()" class="chat-submit" id="chat-submit"><i class="material-icons">envoyer</i></button>-->
    <button *ngIf="isLoading" class="btn btn-secondary" style="height: 2.9em" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Loading...
    </button>
    <button *ngIf="!isLoading" (click)="sendMessage()" style="height: 2.9em" class="btn btn-secondary" type="button">
      Envoyer
    </button>
  </div>
</div>


<script>document.addEventListener("keydown", function (e){
  alert("aaa");
  if (e.key == "Enter") document.getElementById("chat-submit").click();
})</script>
