<div class="banner container-fluid">
  <div class="row h-100">
    <div class="col-12 col-md-7 col-xl-5 offset-xl-1 align-self-center mt-5 mt-xl-0" data-aos="fade-right">
      <h1 class="big-title font-lato ">
        Trouvez un centre de dépistage près de chez vous !
      </h1>
      <span class="subtext font-lato">
        Faite de votre santé une priorité.
      </span>
    </div>
    <div class="col-xl-6  col-11 col-md-5 col-sm-3 mx-sm-auto pt-5 align-self-center" data-aos="fade-left">
      <img alt="undraw contract" class="mx-auto d-block" src="assets/images/locatiob.svg"
           style="max-width: inherit; max-height: 90vw">
    </div>
  </div>
</div>
<div class="container" style="margin-top: 10vw">
  <div class="row mb-2">
    <div class="col">
      <h3 class="font-lato fw-bold fs-1 lh-base">Simple comme "Bonjour" !</h3>
    </div>
  </div>
  <div class="row h-100">
    <div class="col d-flex justify-content-evenly flex-wrap">

    </div>
  </div>
</div>

