<div class="banner container-fluid">
  <div class="row h-100">
    <div class="col-12 col-md-7 col-xl-5 offset-xl-1 align-self-center mt-5 mt-xl-0">
      <h1 class="big-title font-lato ">
        Mentions Légales
      </h1>
      <span class="subtext font-lato">
        24 rue Aristide Nogues 44400 REZÉ - Siret : 831 247 051 00012
        - Responsable de la rédaction du site : M. Frédéric DERACHE - Gérant
      </span>
    </div>
    <div class="col-xl-6  col-11 col-md-5 col-sm-3 mx-sm-auto pt-5 align-self-center">
      <img class="mx-auto d-block" src="assets/images/undraw_contract.svg" alt="undraw contract"
           style="max-width: inherit; max-height: 90vw">
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2 class="fs-2 fw-bold">Confidentialité des données personnelles</h2>
      <p class="fs-6">La politique de confidentialité explique comment nous utilisons les données personnelles que nous
        recueillons auprès de vous lorsque vous utilisez notre site web.</p>
      <h5 class="fs-4 fw-bold mt-5">Quelles sont les données que nous collectons ?</h5>
      <mat-list role="list">
        <mat-list-item role="listitem">Votre numéro de téléphone</mat-list-item>
        <mat-list-item role="listitem">Votre adresse email</mat-list-item>
        <mat-list-item role="listitem">L'appareil de l'utilisateur (téléphone, tablette ou ordinateur)</mat-list-item>
        <mat-list-item role="listitem">Votre nom et prénom</mat-list-item>
        <mat-list-item role="listitem">Votre adresse IP</mat-list-item>
        <mat-list-item role="listitem">La date de la visite</mat-list-item>
        <mat-list-item role="listitem">Votre version et nom de navigateur</mat-list-item>
        <mat-list-item role="listitem">Votre version et nom de votre système d'exploitation</mat-list-item>
        <mat-list-item role="listitem">Autres données collecté par les services-tiers</mat-list-item>
      </mat-list>

      <h5 class="fs-4 fw-bold mt-5">Comment recueillons-nous vos données ?</h5>
      <mat-list role="list">
        <mat-list-item role="listitem">En nous érivant un courriel.</mat-list-item>
        <mat-list-item role="listitem">En acceptant les cookies</mat-list-item>
      </mat-list>

      <p class="fs-5 lh-base mt-5" style="text-align: justify">
        En application de la loi n°78-17
        du 6 janvier 1978, Vous pouvez exercer vos droits d’accès (article 39 de la loi), de rectification (article 40
        de la loi) et d’opposition (article 38 de la loi) à ces informations en faisant parvenir à la société ABC DU
        PLOMBIER une demande explicite par courrier électronique. En fonction des choix émis par le client au moment où
        il remplira un formulaire de commande précisant certains champs obligatoires, il pourra choisir de recevoir des
        offres de ABC DU PLOMBIER, ou être informé d’opérations particulières par l’intermédiaire de son adresse e-mail.
        Si le client ne souhaite plus recevoir ces offres et ces informations, il peut en faire la demande à tout moment
        en formulant directement la demande par courrier électronique.
      </p>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2 class="fs-2 fw-bold">Crédits</h2>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <a href="https://www.flaticon.com/free-icons/medal" title="medal icons">Medal icons created by Vectors Market
            - Flaticon</a>
        </mat-list-item>
        <mat-list-item role="listitem">
          <a href="https://www.flaticon.com/free-icons/invoice" title="invoice icons">Invoice icons created by Anggara -
            Flaticon</a>
        </mat-list-item>
        <mat-list-item role="listitem">
          <a href="https://www.flaticon.com/free-icons/trust" title="trust icons">Trust icons created by Flowicon -
            Flaticon</a>
        </mat-list-item>
        <mat-list-item role="listitem">
          <a href="https://www.flaticon.com/free-icons/eco-friendly" title="eco friendly icons">Eco friendly icons
            created by Freepik - Flaticon</a>
        </mat-list-item>
        <mat-list-item role="listitem">
          <a href="https://www.flaticon.com/free-icons/money" title="money icons">Money icons created by Freepik -
            Flaticon</a>
        </mat-list-item>
        <mat-list-item role="listitem">
          <a href="https://www.flaticon.com/free-icons/air-conditioning" title="air-conditioning icons">Air-conditioning
            icons created by rukanicon - Flaticon</a>
        </mat-list-item>
        <mat-list-item role="listitem">
          <a href="https://www.flaticon.com/free-icons/repair" title="repair icons">Repair icons created by Ayub Irawan
            - Flaticon</a>
        </mat-list-item>
        <mat-list-item role="listitem">
          <a href="https://www.flaticon.com/free-icons/boiler" title="boiler icons">Boiler icons created by Freepik -
            Flaticon</a>
        </mat-list-item>
      </mat-list>

    </div>
  </div>
</div>
