<div class="container mt-5">
  <div class="row">
    <div class="col-3 mx-auto text-center">
      <h3 class="font-lato fw-bold fs-1 lh-base">F.A.Q</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 mx-auto">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let item of accordionItems">
          <mat-expansion-panel-header>
            <mat-panel-title class="fw-bold">
              {{ item.title | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{ item.text | translate }}</p>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </div>
</div>
