<div class="container-fluid">
  <div class="row mx-auto h-100">
    <div class="col-11 mx-auto d-block align-self-center">
      <div class="row mb-5">
        <div class="col-12 col-md-3 mx-auto">
          <img class="mx-auto d-block" style="width: 60%" src="assets/icon/abc_big_logo.png">
        </div>
      </div>
      <div class="col-10 col-md-4 mx-auto">
        <form class="align-content-center mx-auto">
          <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Email</mat-label>
              <input [(ngModel)]="email" type="email" matInput [formControl]="emailFormControl"
                     placeholder="Ex. pat@example.com">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                L'email est <strong>obligatoire</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Mot de passe</mat-label>
              <input [(ngModel)]="password" type="password" matInput [formControl]="emailFormControl"
                     placeholder="Votre mot de passe">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Entrez un mot de passe de plus de 8 caractères.
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Le mot de passe est <strong>obligatoire</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Photo de profil</mat-label>
              <input [(ngModel)]="ppKeyWord" type="text" matInput [formControl]="emailFormControl"
                     placeholder="Entrez les mots qui définiront votre photo de profil.">
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Ce champ permet de générer votre photo de profil
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <button (click)="onSignup()" color="primary" mat-flat-button>
              <div *ngIf="loading" class="spinner-border spinner-border-sm m-1" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              Créer un compte
            </button>
            <a routerLink="/login">vous avez un compte ?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
