#reviewContainer{
  padding-bottom: 8em;
}

.rotated {
  background-color: #F5FBFF;
  transform: skewY(3deg);
  margin-top: 10em;
  margin-bottom: 15em;
  padding-top: 7em;
}

.rotated-reverse {
  transform: skewY(-3deg);
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.swiper-slide {
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
