// Custom boostrap theme.
$primary: #D31637;
$secondary: #5A5EB9;


$my-blue: (
  50: #EF3959,
  100: #E50E34,
  200: #E50E34,
  300: #EF3959,
  400: #EF3959,
  500: #EF3959,
  600: #EF3959,
  700: #EF3959,
  800: #EF3959,
  900: #EF3959,
  A100: #EF3959,
  A200: #EF3959,
  A400: #EF3959,
  A700: #EF3959,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$abc_du_plombier-primary: mat.define-palette($my-blue, 100, 50, 200);
$abc_du_plombier-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$abc_du_plombier-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$abc_du_plombier-theme: mat.define-light-theme((
  color: (
    primary: $abc_du_plombier-primary,
    accent: $abc_du_plombier-accent,
    warn: $abc_du_plombier-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($abc_du_plombier-theme);
@import "../node_modules/bootstrap/scss/bootstrap";
