/* You can add global styles to this file, and also import other style files */
@import "~swiper/swiper-bundle.css";

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.anim-transform:hover {
  transition: all 0.2s ease-in-out;
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

.text-justify {
  text-align: justify;
}

@font-face {
  font-display: swap;
}
